@page
@model SociFilarmonicaApp.Pages.Soci.DetailsModel

@{
    ViewData["Title"] = "Dettagli";
}

    <h1>Dettagli</h1>

<div>
    <h4>Socio</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Socio.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Socio.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Socio.Cognome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Socio.Cognome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Socio.Telefono)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Socio.Telefono)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Socio.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Socio.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Socio.TipologiaSocioDesc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Socio.TipologiaSocioDesc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Socio.TipoAutoDesc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Socio.TipoAutoDesc)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Socio.ID">Modifica</a> |
    <a asp-page="./Index">Torna alla lista</a>
</div>
