@page
@model SociFilarmonicaApp.CalcolaModel
@{
    ViewData["Title"] = "Calcola";
}

<h1>Calcola il rimborso</h1>
<h2 class="text-muted">@Model.DatiCalcolo.Nome @Model.DatiCalcolo.Cognome</h2>
<p>
    <a asp-page="/Soci/Details" asp-route-id="@Model.DatiCalcolo.SocioID">Torna al Socio</a> |
    @if (Model.DatiCalcolo.IdRimborso != null)
    {
        <a asp-page="./Index">Torna allo storico</a>
    }

</p>
<hr />
<p>
    <span class="fa fa-info"></span> Aggiungi la lista prove a cui ha partecipato, eventuali altri costi.
    Premi il pulsante "Calcola" per avere un'anteprima del rimborso spesa. Premi il tasto "Salva" per salvare il rimborso spesa.
    Premi il tasto "Esporta" per ottenere il rimborso in excel.
</p>
<hr />

<form method="post" asp-route="./Calcola">
    @*Cose che devo ripassare al backend per riaverle nella view*@
    @Html.HiddenFor(model => model.DatiCalcolo.IdRimborso)
    @Html.HiddenFor(model => model.DatiCalcolo.SocioID)
    @Html.HiddenFor(model => model.DatiCalcolo.Nome)
    @Html.HiddenFor(model => model.DatiCalcolo.Cognome)
    @Html.HiddenFor(model => model.DatiCalcolo.InfoAutoID)
    @Html.HiddenFor(model => model.DatiCalcolo.TipoAuto)
    @Html.HiddenFor(model => model.DatiCalcolo.Carburante)
    @Html.HiddenFor(model => model.DatiCalcolo.DescrizioneMacchina)
    @Html.HiddenFor(model => model.DatiCalcolo.TargaMacchina)

    <div class="form-group col-md-12">
        <label asp-for="DatiCalcolo.Descrizione" class="control-label"></label>
        <input asp-for="DatiCalcolo.Descrizione" class="form-control" readonly="readonly" />
        <span asp-validation-for="DatiCalcolo.Descrizione" class="text-danger"></span>
    </div>

    <div class="form-row">
        <div class="col-md-6 pr-3">
            <fieldset>
                <legend>Lista prove/Evento</legend>
                <div class="form-group form-row">
                    <div class="col-11">
                        <input asp-for="DatiCalcolo.ListaProve[0]" type="date" class="form-control" />
                        <span asp-validation-for="DatiCalcolo.ListaProve[0]" class="text-danger"></span>
                    </div>
                </div>
                @for (int i = 1; i < Model.DatiCalcolo.ListaProve.Count; i++)
                {

                    <div class="form-row">
                        <div class="form-group col-11">
                            <input asp-for="DatiCalcolo.ListaProve[i]" type="date" class="form-control" />
                            <span asp-validation-for="DatiCalcolo.ListaProve[i]" class="text-danger"></span>
                        </div>
                        <div class="form-group col-1">
                            <button type="submit" asp-page-handler="RemoveDataProva" asp-route-index="@i" class="btn btn-danger"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                }
            </fieldset>



            <div class="form-row">
                <div class="form-group col">
                    <button type="submit" asp-page-handler="AddDataProva" class="btn btn-secondary float-right"><i class="fa fa-plus"></i></button>
                </div>
            </div>
            <hr />
            <fieldset>
                <legend>
                    Altri costi (opzionale)
                </legend>
                <div class="form-row m-1">
                    <div class="form-group col-md-6">
                        <label asp-for="DatiCalcolo.AltriCosti[0].Descrizione" class="control-label"></label>
                        <input asp-for="DatiCalcolo.AltriCosti[0].Descrizione" class="form-control" />
                        <span asp-validation-for="DatiCalcolo.AltriCosti[0].Descrizione" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-5">
                        <label asp-for="DatiCalcolo.AltriCosti[0].Costo" class="control-label"></label>
                        <input asp-for="DatiCalcolo.AltriCosti[0].Costo" class="form-control" />
                        <span asp-validation-for="DatiCalcolo.AltriCosti[0].Costo" class="text-danger"></span>
                    </div>
                </div>
                @for (int i = 1; i < Model.DatiCalcolo.AltriCosti.Count; i++)
                {
                    <div class="form-row m-1">
                        <div class="form-group col-md-6">
                            <input asp-for="DatiCalcolo.AltriCosti[i].Descrizione" class="form-control" />
                            <span asp-validation-for="DatiCalcolo.AltriCosti[i].Descrizione" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-5">
                            <input asp-for="DatiCalcolo.AltriCosti[i].Costo" class="form-control" />
                            <span asp-validation-for="DatiCalcolo.AltriCosti[i].Costo" class="text-danger"></span>
                        </div>
                        <div class="form-group col-1">
                            <button type="submit" asp-page-handler="RemoveAltroCosto" asp-route-index="@i" class="btn btn-danger"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                }
                <div class="form-row">
                    <div class="form-group col">
                        <button type="submit" asp-page-handler="AddAltroCosto" class="btn btn-secondary float-right"><i class="fa fa-plus"></i></button>
                    </div>
                </div>
            </fieldset>


        </div>
        <div class="col-md-6 border-left pr-2">
            <fieldset>
                <legend>Riepilogo</legend>
                <p>@Html.DisplayFor(model => model.DatiCalcolo.TipoAuto) - @Html.DisplayFor(model => model.DatiCalcolo.Carburante)</p>
                <p>@Html.DisplayFor(model => model.DatiCalcolo.DescrizioneMacchina), targa @Html.DisplayFor(model => model.DatiCalcolo.TargaMacchina)</p>
                <div class="form-group">
                    <label asp-for="DatiCalcolo.RimborsoKm" class="control-label"></label>
                    <input asp-for="DatiCalcolo.RimborsoKm" class="form-control" />
                    <span asp-validation-for="DatiCalcolo.RimborsoKm" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DatiCalcolo.DescrizioneItinerario" class="control-label"></label>
                    <input asp-for="DatiCalcolo.DescrizioneItinerario" class="form-control" />
                    <span asp-validation-for="DatiCalcolo.DescrizioneItinerario" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DatiCalcolo.Distanza" class="control-label"></label>
                    <input asp-for="DatiCalcolo.Distanza" class="form-control" />
                    <span asp-validation-for="DatiCalcolo.Distanza" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DatiCalcolo.TotaleReale" class="control-label"></label>
                    <div class="form-control">@Html.DisplayFor(model => model.DatiCalcolo.TotaleReale)</div>
                    <span asp-validation-for="DatiCalcolo.TotaleReale" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DatiCalcolo.TotaleDovuto" class="control-label"></label>
                    <input asp-for="DatiCalcolo.TotaleDovuto" class="form-control" />
                    <span asp-validation-for="DatiCalcolo.TotaleDovuto" class="text-danger"></span>
                </div>
            </fieldset>

            <div class="form-row">
                <div class="form-group col">
                    <button type="submit" asp-page-handler="Calcolatrice" class="btn btn-secondary float-right"><i class="fa fa-calculator"></i> Calcola </button>
                </div>
            </div>
            <hr />
            <div class="form-row">
                <div class="form-group col">
                    <button type="button" id="export-excel" class="btn btn-secondary float-right"><i class="fa fa-file-export"></i> Esporta </button>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <button type="submit" asp-page-handler="" class="btn btn-primary float-right"><i class="fa fa-save"></i> Salva </button>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
            (function(){
                const { ipcRenderer } = require("electron");
                document.getElementById("export-excel").addEventListener("click", () => {
                    ipcRenderer.send("export-excel-calcola");
                });
            }());
</script>


