@page
@model SociFilarmonicaApp.Pages.StoricoRimborsi.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RimborsoKm</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RimborsoKm.DataCreazione)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RimborsoKm.DataCreazione)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RimborsoKm.DataUltimaModifica)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RimborsoKm.DataUltimaModifica)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RimborsoKm.DatiRimborsoSerializzati)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RimborsoKm.DatiRimborsoSerializzati)
        </dd>
    </dl>
</div>
<div>
    <button type="button" id="export-excel" class="btn btn-secondary float-right"><i class="fa fa-file-export"></i> Esporta </button>
</div>
<div>
    <a asp-page="./Index">Torna alla lista</a>
</div>

<script type="text/javascript">
    (function () {
        const { ipcRenderer } = require("electron");
        document.getElementById("export-excel").addEventListener("click", () => {
            ipcRenderer.send("export-excel-calcola");
        });
    }());
</script>
