@page
@model SociFilarmonicaApp.Pages.StoricoRimborsi.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RimborsoKm</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RimborsoKm.DataCreazione)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RimborsoKm.DataCreazione)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RimborsoKm.DataUltimaModifica)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RimborsoKm.DataUltimaModifica)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RimborsoKm.DatiRimborsoSerializzati)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RimborsoKm.DatiRimborsoSerializzati)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Index">Torna alla lista</a>
</div>
