@page
@model SociFilarmonicaApp.Pages.StoricoRimborsi.DetailsModel

@{
    ViewData["Title"] = "Dettagli rimborso";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>@Model.DatiCalcolo.Descrizione di @Model.DatiCalcolo.Nome @Model.DatiCalcolo.Cognome</h4>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <p class="text-right">Creato il @Html.DisplayFor(model => model.RimborsoKm.DataCreazione) - Ultima modifica: @Html.DisplayFor(model => model.RimborsoKm.DataUltimaModifica)</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <fieldset>
                <legend>Lista prove/Evento</legend>
                <ul class="lead">
                    @foreach (var item in Model.DatiCalcolo.ListaProve)
                    {
                        <li>@item.ToString("dd/MM/yyyy")</li>
                    }
                </ul>
            </fieldset>
        </div>
        <div class="col-md-6">
            <fieldset>
                <legend>Altri costi</legend>
                <ul>
                    <li>@Model.DatiCalcolo.AltriCostiAutostrada.Descrizione: @Html.DisplayFor(model => model.DatiCalcolo.AltriCostiAutostrada.Costo), (@Model.DatiCalcolo.AltriCostiAutostrada.NumRicevute ricevute)</li>
                    <li>@Model.DatiCalcolo.AltriCostiTreno.Descrizione: @Html.DisplayFor(model => model.DatiCalcolo.AltriCostiTreno.Costo), (@Model.DatiCalcolo.AltriCostiTreno.NumRicevute ricevute)</li>
                    <li>@Model.DatiCalcolo.AltriCostiAltro.Descrizione: @Html.DisplayFor(model => model.DatiCalcolo.AltriCostiAltro.Costo), (@Model.DatiCalcolo.AltriCostiAltro.NumRicevute ricevute)</li>
                </ul>
            </fieldset>
        </div>
    </div>

    <fieldset>
        <legend>Riepilogo</legend>
        <dl class="row">
            <dt class="col-2">Dati auto:</dt>
            <dd class="col-10">@Html.DisplayFor(model => model.DatiCalcolo.DescrizioneMacchina), targa @Html.DisplayFor(model => model.DatiCalcolo.TargaMacchina). Categoria @Html.DisplayFor(model => model.DatiCalcolo.TipoAuto) - @Html.DisplayFor(model => model.DatiCalcolo.Carburante)</dd>
        </dl>
        <dl class="row">
            <dt class="col-2">Rimborso per Km:</dt>
            <dd class="col-10">@Html.DisplayFor(model => model.DatiCalcolo.RimborsoKm)</dd>
        </dl>
        <dl class="row">
            <dt class="col-2">Itinerario:</dt>
            <dd class="col-10">@Html.DisplayFor(model => model.DatiCalcolo.DescrizioneItinerario)</dd>
        </dl>
        <dl class="row">
            <dt class="col-2">Distanza casa-sede:</dt>
            <dd class="col-10">@Html.DisplayFor(model => model.DatiCalcolo.Distanza)</dd>
        </dl>
        <dl class="row">
            <dt class="col-2">@Html.DisplayNameFor(model => model.DatiCalcolo.TotaleReale)</dt>
            <dd class="col-10">@Html.DisplayFor(model => model.DatiCalcolo.TotaleReale)</dd>
        </dl>
        <dl class="row bg-warning">
            <dt class="col-2">@Html.DisplayNameFor(model => model.DatiCalcolo.TotaleDovuto)</dt>
            <dd class="col-10">@Html.DisplayFor(model => model.DatiCalcolo.TotaleDovuto)</dd>
        </dl>
    </fieldset>
</div>
<div>
    <button type="button" id="export-excel" class="btn btn-secondary float-right"><i class="fa fa-file-export"></i> Esporta </button>
</div>
<div>
    <a asp-page="./Index">Torna alla lista</a>
</div>

<script type="text/javascript">
    (function () {
        const { ipcRenderer } = require("electron");
        document.getElementById("export-excel").addEventListener("click", () => {
            ipcRenderer.send("export-excel-calcola");
        });
    }());
</script>
